@import url(https://fonts.googleapis.com/css?family=Muli);

* {
	font-family: 'Muli', sans-serif;
}

h2 {
	width: 1080px;
	margin: 50px auto;
}

.bookshelf {
	width: 1080px;
	margin: 0 auto;

	table {
		width: 100%;
		border-collapse: collapse;

		thead {
			th {
				width: 25%;
				font-size: 20px;
				text-align: left;
				color: #f0f0f0;
				background-color: #41be8e;
				padding: 10px 20px;
				cursor: default;
				&.sortable {
					cursor: pointer;
					&:hover {
						background-color: darken(#41be8e, 5%);
					}
				}

				&.filter {
					.Select {
						cursor: pointer;
						.Select-value {
							background-color: #41be8e;
							color: #f0f0f0;
							&:hover {
								background-color: darken(#41be8e, 5%);
							}
						}
						.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
							color: #f0f0f0;
						}
						.Select-arrow {
							border-top-color: #f0f0f0;
						}
					}
				}
			}
			th:first-child {
				border-top-left-radius: 8px;
			}
			th:last-child {
				border-top-right-radius: 8px;
			}
		}

		tbody {

			tr.even {
				background-color: lighten(#eaeaea, 5%);
			}

			tr.odd {
				background-color: #eaeaea;
			}

			td {
				padding: 10px 20px;
			}
		}
	}

	.pager {
		padding: 10px;
		text-align: center;
		cursor: default;
		background-color: #41be8e;
		color: #f0f0f0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;
		a {
			cursor: pointer;
			background-color: #eaeaea;
			color: #41be8e;
			border-radius: 10px;
			font-size: 19px;
			line-height: 20px;
			display: inline-block;
			width: 20px;
			margin: 0 2px;
			&:hover {
				background-color: #ffffff;
				color: darken(#41be8e, 5%);
			}
			&.pager-disabled {
				color: #bfbfbf;
				cursor: default;
				&:hover {
					background-color: #eaeaea;
					color: #bfbfbf;
				}
			}

			.left-tweak {
				padding-right: 2px;
			}
			.right-tweak {
				padding-left: 2px;
			}
		}
		.page-counter {
			margin: 0 8px;
		}
	}
}
